%section.g-section.g-about
  .g-wrapper
    %h1.g-title
      %span.g-title__text
        Fashion в digital
    %h3.g-subtitle Цикл ежемесячных бизнес-завтраков
    .g-about__left
      =image_tag 'landing/about_bg.svg', class: 'g-about__img g-about__img_bg'
      =image_tag 'landing/about.svg', class: 'g-about__img g-about__img_hand'
    .g-about__right
      %p.g-about__text
        Встречи посвящены развитию и продвижению модных брендов в интернете. За завтраком эксперты со стороны fashion-брендов и digital-агентств разбирают актуальные для этого сегмента рынка вопросы, связанные с разработкой интернет-магазинов, работе с соцсетями, модными изданиями и другим маркетинговым инструментарием.
      %p.g-about__text
        =image_tag 'landing/logo.svg', class: 'landing-logo'
        Интернет-агентство Я.Сreations работает над повышением эффективности бизнесов своих клиентов с 2013 года. Мы занимаемся разработкой, развитием и продвижением корпоративных сайтов, интернет-магазинов, мобильных приложений и сервисов. Отдаем предпочтение сложным комплексным проектам и нестандартным задачам. У нас много клиентов из fashion-индустрии. Среди них, например, интернет-магазин Aizel, ювелирный дом Юлии Давидян, дизайнер Rasario.
      %p.g-about__text
        =image_tag 'landing/organizers/jaga.png', class: 'landing-logo', width: 128
        JagaJam — аналитическая платформа для построения эффективных коммуникаций брендов с аудиторией социальных сетей.
      %p.g-about__text
        =image_tag 'landing/organizers/fbr.jpg', class: 'landing-logo', width: 128
        ="fbr.agency (#fuckbusinessrivals) специализируется на консалтинге и сопровождении digital-агентств, IT-компаний и стартапов в области PR, маркетинга и продаж. Контакты: Инга Цохонис +7 (977) 256 23 86 inga@fbr.agency #{link_to 'FBme', 'https://www.facebook.com/inga.tsokhonis'}".html_safe


