%section.g-section.g-section_what
  .g-wrapper
    %h2.g-title
      %span.g-title__text Что обсудим за завтраком
    %ul#what-slider.g-what-list
      %li.g-what-list__item.g-what-list__item_shops
        %h3.g-what-list__name E-commerce
        %p.g-what-list__desc
          17 августа мы приглашаем представителей fashion-брендов, чтобы поговорить о том, насколько важна стратегия развития компании в e-commerce, какие существуют нюансы в привлечении трафика в интернет-магазин из социальных сетей, как работать с лидерами мнений. 

        =image_tag 'landing/projects/what_1.svg', class: 'g-what-list__img'
        =image_tag 'landing/projects/what_bg_1.svg', class: 'g-what-list__img-bg'
      
      %li.g-what-list__item.g-what-list__item_complex
        %h3.g-what-list__name Аудитория
        %p.g-what-list__desc
          Наши спикеры расскажут вам, как работают со своей целевой аудитории на западном и российском рынках, поделятся с вами успешными и провальными кейсами. Кроме того мы раскроем вам секреты, как эффективно настроить сайт под женскую аудиторию.
        =image_tag 'landing/projects/what_2.svg', class: 'g-what-list__img'
        =image_tag 'landing/projects/what_bg_2.svg', class: 'g-what-list__img-bg'
      
      %li.g-what-list__item.g-what-list__item_support
        %h3.g-what-list__name Диалог
        %p.g-what-list__desc
          И конечно по завершению завтрака вас ждет серия вопросов и ответов с нашими спикерами.
        =image_tag 'landing/projects/what_7.svg', class: 'g-what-list__img'
        =image_tag 'landing/projects/what_bg_7.svg', class: 'g-what-list__img-bg'
        
      %li.g-what-list__item.g-what-list__item_mobile
        %h3.g-what-list__name Где?
        %p.g-what-list__desc
          ="За атмосферу мероприятия будет отвечать #{link_to 'Dictatura Estetica Bar', 'https://www.facebook.com/dictaturabar/'}, культовое место на территории фабрики «Красный Октябрь», объединившее бар и бутиковое ателье по пошиву рубашек.".html_safe

        =image_tag 'landing/projects/what_6.svg', class: 'g-what-list__img'
        =image_tag 'landing/projects/what_4_icon.svg', class: 'g-what-list__img-icon'
        =image_tag 'landing/projects/what_bg_6.svg', class: 'g-what-list__img-bg'