%section.g-section.g-section_best
  .g-wrapper
    %h2.g-title
      %span.g-title__text лучшие кейсы
    %h3.g-subtitle.g-subtitle_small Вы только посмотрите, что вытворяют!
    .g-best-wrapper
      %ul.g-best
        %li.g-best__item
          .g-best__banner
          %h4.g-best__desc Увеличили конверсию в X раз
        %li.g-best__item
          .g-best__banner
          %h4.g-best__desc Увеличили конверсию в X раз
        %li.g-best__item
          .g-best__banner
          %h4.g-best__desc Увеличили конверсию в X раз
        %li.g-best__item
          .g-best__banner
          %h4.g-best__desc Увеличили конверсию в X раз
        %li.g-best__item
          .g-best__banner
          %h4.g-best__desc Увеличили конверсию в X раз
        %li.g-best__item
          .g-best__banner
          %h4.g-best__desc Увеличили конверсию в X раз
        %li.g-best__item
          .g-best__banner
          %h4.g-best__desc Увеличили конверсию в X раз