%section.g-section.g-help
  .g-wrapper
    .g-help__left
      %h3.g-help__title
        Кому будет интересно?
    .g-help__right
      %ul.g-skills
        %li.g-skills__li
          %span.g-skills__item Бренд-менеджерам
        %li.g-skills__li
          %span.g-skills__item Директорам по маркетингу
        %li.g-skills__li
          %span.g-skills__item SMM-специалистам
        %li.g-skills__li
          %span.g-skills__item Digital-менеджерам
        %li.g-skills__li
          %span.g-skills__item Редакторам и журналистам fashion и lifestyle изданий
      
  %a.g-btn.landing-button{:href => "javascript:void(0)"} Зарегистрироваться