%section.g-section.g-about-write
  .g-wrapper
    %h2.g-about-write__title Организаторы
    #about-write-slider.g-about-write__list
      %a.g-about-write__link
        =image_tag 'landing/organizers/yadadya.png', class: 'g-about-write__logo g-about-write__logo_forbes'
      %a.g-about-write__link
        =image_tag 'landing/organizers/fbr.jpg', class: 'g-about-write__logo g-about-write__logo_forbes'
      %a.g-about-write__link
        =image_tag 'landing/organizers/rma.png', class: 'g-about-write__logo g-about-write__logo_forbes'
      %a.g-about-write__link
        =image_tag 'landing/organizers/jaga.png', class: 'g-about-write__logo g-about-write__logo_forbes'
      
