%section.g-section.g-areas
  .g-wrapper
    .g-areas__left
      =image_tag 'landing/efficiency.svg', class: 'g-areas__img'
      =image_tag 'landing/efficiency_bg.svg', class: 'g-areas__img-bg'
    .g-areas__right
      %h2.g-areas__title Программа мероприятия
      %ul.g-areas__list
        %li.g-areas__item 10:00 - 10:30 Кофе-брейк

        %li.g-areas__item 10:30 - 11:00 Брендинг в соцсетях для e-commerce. Спикер: Ева Иванова, ex-руководитель SMM-отдела Lamoda, ex-бренд-специалист Adidas, преподаватель Британской высшей школы дизайна.

        %li.g-areas__item 11:00 - 11:30 E-commerce стратегия fashion-брендов в социальных сетях. Спикер: Ольга Агафонова, Strategic Development Director JagaJam.

        %li.g-areas__item 11:30 - 12:00 Как девушки пользуются интернет-магазинами. Тонкие настройки сайтов под женскую аудиторию. Спикер: Ядадья Исаков, основатель и генеральный директор интернет-агентства Я.Creations.

        %li.g-areas__item 12:00 - 12:30 Ошибки «больших» брендов. Спикер: Алла Баринова,  руководитель отдела развития электронной коммерции ECCO.
