%section.g-section.g-form-section
  .g-wrapper
    %h1.g-title
      %span.g-title__text Регистрация
    =form_with(model: Request.new, format: 'js', html: { class: 'g-form' }, remote: true) do |f|
      .g-input
        =f.text_field :last_name, class: 'g-input__field js-input', placeholder: 'Фамилия'
        .g-input__flag
          %svg.g-input__icon.g-input__icon_error
            %use{"xlink:href" => "#ic-input-error"}
          %svg.g-input__icon.g-input__icon_success
            %use{"xlink:href" => "#ic-input-success"}
        .g-input__error Поле заполнено некорректно
      
      .g-input
        =f.text_field :first_name, class: 'g-input__field js-input', placeholder: 'Имя'
        .g-input__flag
          %svg.g-input__icon.g-input__icon_error
            %use{"xlink:href" => "#ic-input-error"}
          %svg.g-input__icon.g-input__icon_success
            %use{"xlink:href" => "#ic-input-success"}
        .g-input__error Поле заполнено некорректно
      
      .g-input
        =f.text_field :company, class: 'g-input__field js-input', placeholder: 'Компания'
        .g-input__flag
          %svg.g-input__icon.g-input__icon_error
            %use{"xlink:href" => "#ic-input-error"}
          %svg.g-input__icon.g-input__icon_success
            %use{"xlink:href" => "#ic-input-success"}
        .g-input__error Поле заполнено некорректно
      
      .g-input
        =f.text_field :position, class: 'g-input__field js-input', placeholder: 'Должность'
        .g-input__flag
          %svg.g-input__icon.g-input__icon_error
            %use{"xlink:href" => "#ic-input-error"}
          %svg.g-input__icon.g-input__icon_success
            %use{"xlink:href" => "#ic-input-success"}
        .g-input__error Поле заполнено некорректно
      
      .g-input
        =f.text_field :email, class: 'g-input__field js-input', placeholder: 'Email'
        .g-input__flag
          %svg.g-input__icon.g-input__icon_error
            %use{"xlink:href" => "#ic-input-error"}
          %svg.g-input__icon.g-input__icon_success
            %use{"xlink:href" => "#ic-input-success"}
        .g-input__error Поле заполнено некорректно
      
      .g-input
        =f.text_field :phone, class: 'g-input__field js-input js-input-phone', placeholder: 'Номер телефона'
        .g-input__flag
          %svg.g-input__icon.g-input__icon_error
            %use{"xlink:href" => "#ic-input-error"}
          %svg.g-input__icon.g-input__icon_success
            %use{"xlink:href" => "#ic-input-success"}
        .g-input__error Поле заполнено некорректно

      .g-input
        =f.text_field :facebook, class: 'g-input__field js-input', placeholder: 'Ссылка на аккаунт в Facebook'
        .g-input__flag
          %svg.g-input__icon.g-input__icon_error
            %use{"xlink:href" => "#ic-input-error"}
          %svg.g-input__icon.g-input__icon_success
            %use{"xlink:href" => "#ic-input-success"}
        .g-input__error Поле заполнено некорректно
      
      =f.submit "Отправить", class: 'g-btn g-btn_submit', data: { "disable-with": "Отправляю..." }