%section.g-section.g-leadership
  .g-wrapper
    %h2.g-title
      %span.g-title__text Спикеры
    #leadership-slider.g-leadership__wrapper
      .g-leadership__item
        .g-leadership__photo-wrapper
          =image_tag 'landing/leadership/yadadya.png', class: 'g-leadership__photo g-leadership__photo_yadadya'
        %h3.g-leadership__name Ева Иванова
        %p.g-leadership__position ex-руководитель SMM-отдела Lamoda, ex-бренд-специалист Adidas, преподаватель Британской высшей школы дизайна.
        %a.g-btn.g-btn_transparent.g-btn_facebook{:href => "https://facebook.com", :target => "_blank"}
          %svg.g-icon
            %use{"xlink:href" => "#ic-facebook"}
      
      .g-leadership__item
        .g-leadership__photo-wrapper
          =image_tag 'landing/leadership/nadegda.png', class: 'g-leadership__photo g-leadership__photo_nadegda'
        %h3.g-leadership__name Ольга Агафонова
        %p.g-leadership__position Strategic Development Director JagaJam.
        %a.g-btn.g-btn_transparent.g-btn_facebook{:href => "https://facebook.com", :target => "_blank"}
          %svg.g-icon
            %use{"xlink:href" => "#ic-facebook"}
      
      .g-leadership__item
        .g-leadership__photo-wrapper
          =image_tag 'landing/leadership/yadadya.png', class: 'g-leadership__photo g-leadership__photo_yadadya'
        %h3.g-leadership__name Ядадья Исаков
        %p.g-leadership__position Основатель и генеральный директор интернет-агентства Я.Creations.
        %a.g-btn.g-btn_transparent.g-btn_facebook{:href => "https://facebook.com", :target => "_blank"}
          %svg.g-icon
            %use{"xlink:href" => "#ic-facebook"}
      
      .g-leadership__item
        .g-leadership__photo-wrapper
          =image_tag 'landing/leadership/nadegda.png', class: 'g-leadership__photo g-leadership__photo_nadegda'
        %h3.g-leadership__name Алла Баринова
        %p.g-leadership__position Руководитель отдела развития электронной коммерции ECCO.
        %a.g-btn.g-btn_transparent.g-btn_facebook{:href => "https://facebook.com", :target => "_blank"}
          %svg.g-icon
            %use{"xlink:href" => "#ic-facebook"}