%section.g-section.g-main
  .g-wrapper
    %h2.g-main__top бизнес-завтрак
    %h1.g-main__title
      FASHION в digital
    %h3.g-main__subtitle E-commerce стратегия развития брендов
  .g-scroller
  #video-wrapper.g-video-wrapper
    %video#video{:autoplay => "autoplay", :height => "auto", :loop => "loop", :preload => "auto", :width => "100%"}
      %source{:src => "img/coding.webm", :type => "video/webm"}