#success-popup.g-popup
  .g-popup__content
    %a.g-popup__close.js-close
      %svg.g-popup__icon
        %use{"xlink:href" => "#ic-close"}
    %h3.g-popup__title
      %span.g-popup__title-text
    %p.g-popup__text
      Дождитесь одобрения нашим модератором
    %a.g-btn.g-btn_submit.js-close Ок
