!!!
%html
  %head
    %title FashionLanding
    = csrf_meta_tags
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Oswald:400,500&subset=cyrillic"

    = stylesheet_link_tag    'front', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'front', 'data-turbolinks-track': 'reload'
  %body.g-body
    =yield
  =render 'layouts/icons'