!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
  %body
    %br= yield

  %footer
    %p
    %p
      ="--"
      %br Интернет-агентство Я.Creations,
      Организатор бизнес-завтрака.
    %p
      Сайт: www.yadadya.com
      %br Facebook: www.fb.com/yadadyacreations
      Instagram: www.instagram.com/yadadya_creations

